// Override default variables before the import
$px-1: 1px;
$px-2: 2px;
$px-3: 3px;
$px-4: 4px;
$px-5: 5px;
$px-6: 6px;
$px-8: 8px;
$px-10: 10px;
$px-11: 11px;
$px-12: 12px;
$px-13: 13px;
$px-14: 14px;
$px-15: 15px;
$px-16: 16px;
$px-18: 18px;
$px-20: 20px;
$px-22: 22px;
$px-24: 24px;
$px-25: 25px;
$px-26: 26px;
$px-28: 28px;
$px-30: 30px;
$px-32: 32px;
$px-34: 34px;
$px-36: 36px;
$px-38: 38px;

/** font-size reset */
$font-size-base: 0.75rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
$btn-line-height: 1.5 !default;

$sidebar-bg-color: #ffffff !default;
$sidebar-color: #252525 !default;
$sidebar-width: 230px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #777777 !default;
$submenu-bg-color: #ffffff !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;

// import library styles
@import '~bootstrap/scss/bootstrap.scss';
@import './default-sizing.scss';
@import '~react-toastify/dist/ReactToastify.css';
@import '~react-pro-sidebar/dist/scss/styles.scss';






/**
 * Global Custom Styling
 */

/** Navbar reset */
.navbar.navbar-public.bg-light,
.navbar.navbar-private,
.button-dropdown-custom-1 {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

  .dropdown-menu {
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    margin-top: 8px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    .dropdown-item {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.navbar.navbar-public,
.navbar.navbar-private {
  .dropdown-menu {
    width: 300px;
  }

  .nav-link {
    padding: 0 6px !important;
  }

  .dropdown-toggle:after {
    content: none;
  }
}

.button-dropdown-custom-1 {
  .dropdown-menu {
    margin-top: 0px !important;
  }
}

/** form control reset */
.form-control {
  box-shadow: none !important;
}

.form-group.required .form-label:after {
  content: ' *';
  color: red;
}

.input-group.input-login {
  .form-control.is-invalid {
    background-image: none;
  }

  .input-prepend-right {
    cursor: pointer;

    :hover {
      color: #7186ff;
    }

    .input-group-text {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-left: none !important;
    }

    .input-group-text.invalid {
      color: #dc3545;
      border: 1px solid #dc3545;
    }
  }

  .input-group-text {
    background-color: #fff;
    font-size: 1rem;
  }

  .input-group-prepend {
    .input-group-text.invalid {
      border: 1px solid #dc3545;
    }
  }
}

/** Button reset */
.btn.btn-primary.btn-login {
  background-color: $primary;
  background-image: linear-gradient(to right, #6cc0e7, #4e68ff);
  border: none;
  transition: all 0.5s ease;
}

.btn.btn-primary.btn-login:hover,
.btn.btn-primary.btn-login:active,
.btn.btn-primary.btn-login:visited {
  background-color: $primary;
  background-image: linear-gradient(to right, #5fbae4, #1739fa);
  border: none;
}

/** Material Design Box Shadow */
.shadow-1 {
  border: none !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
  border: none !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-3 {
  border: none !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  border: none !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-5 {
  border: none !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-6 {
  border: none !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/** Reset border style */
.border-none {
  border: none !important;
}

.b-r-none {
  border-right: none !important;
}

.b-l-none {
  border-left: none !important;
}

.b-t-none {
  border-top: none !important;
}

.b-b-none {
  border-bottom: none !important;
}

.b-y-none {
  border-top: none !important;
  border-bottom: none !important;
}

.b-x-none {
  border-right: none !important;
  border-left: none !important;
}

.b-radius-1 {
  border-radius: 6px;
}

.b-radius-2 {
  border-radius: 8px;
}

.b-radius-3 {
  border-radius: 12px;
}

.b-radius-4 {
  border-radius: 16px;
}

.b-radius-5 {
  border-radius: 20px;
}

.b-radius-6 {
  border-radius: 24px;
}

/** General classes */
.circle {
  border-radius: 2em;
}

.square {
  border-radius: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.primary-border {
  border: 1px solid $primary;
}

/** CK Editor Reset */
.ck-editor__editable_inline {
  min-height: 250px;
}

/** table custom */
.table-vertical-middle td {
  vertical-align: middle !important;
}

/** surveyjs custom */
.sv_q_required_text {
  color: red;
}
